@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" style="text-align:center">Todo List Web-App</h1>
        <br />
        <p class="lead">Todo List Web-App is built using ASP.NET MVC Framework utilizing HTML, CSS and JavaScript.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <div class="card-md-2">
                <img src="~/Content/card1.png" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Organize your work and life</h5>
                    <br />
                    <p class="card-text">Become focused, organized and calm. Create multiple lists for home, work, tours and so on. Add your tasks. Organize your life. Be more productive every day!</p>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <div class="card-md-2">
                <img src="~/Content/card2.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Achieve Mental Clarity</h5>
                    <br />
                    <p class="card-text">Todo List makes it easy for you to manage your tasks effectively. Prioritize your tasks based on level of importance. Track your progress in a simple way!</p>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <div class="card-md-2">
                <img src="~/Content/card5.png" alt="" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Delightfully simple task management</h5>
                    <br />
                    <p class="card-text">Break up your tasks tasks into subtasks in the form of checklists. Strike off completed activities after a hard working day for maximum satisfaction!</p>
                </div>
            </div>
        </section>
    </div>
</main>
    